gen3==4.17.2
cdiserrors
pandas
numpy
jupyter_server_ydoc
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
