gen3
cdiserrors
pandas
numpy
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
# begin jupyter plugins and utilities section
jupyter-lsp
jupyterlab-lsp
jupyterlab-search-replace
jupyterlab-git
jupyter_server_ydoc
altair[all]
lckr_jupyterlab_variableinspector
ripgrep
frictionless
# end jupyter plugins and utilities section
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
